img {
  width: 100px;
  height: 100px;
}

.card {
  width: 150px;
  height: 250px;
  border: 1px black solid;

  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;
}

h2 {
  font-size: 16px;
}
